html {
  overflow: hidden;
}

body {
  background-color: #282828;
  color: white;
}

#layout-container {
  width: 100%;
  height: 100vh;
}

#layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.dev-card-header {
  font-size: 40px;
}

#queue-card {
  width: 50%;
  border: 2px solid black;
}

@media (max-width: 1075px) {
  #queue-card {
    width: 100%;
  }
}

#social-card {
  width: 25%;
  height: 100%;
  border: 2px solid black;
}

@media (max-width: 1075px) {
  #social-card {
    width: 100%;
  }
}

#friend-card {
  width: 25%;
  border: 2px solid black;
}

@media (max-width: 1075px) {
  #friend-card {
    width: 100%;
  }
}

.loading {
  text-align: center;
}

#layout-nav-button {
  position: absolute;
  font-size: 32px;
  margin-left: 5px;
  z-index: 3;
}

#layout-nav {
  position: absolute;
  padding-top: 45px;
  padding-left: 5px;
  z-index: 2;
  background-color: #282828;
  height: 100%;
  width: 20%;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 450px) {
  #layout-nav {
    width: 40%;
  }
}
