@import url('https://fonts.googleapis.com/css?family=Righteous');

#main-container {
  background-color: #5CD895;
  height: 100vh;
  font-family: 'Righteous', cursive;
  border: 5px solid black;
}

#header-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 945px){
  #header-container {
    height: 40%;
  }
}

@media (max-width: 550px) {
  #header-container {
    height: 55%;
  }
}

@media (max-width: 440px) {
  #header-container {
    height: 65%;
  }
}

#main-header {
  font-size: 48px;
  border: 5px solid black;
}

#main-thumbnails {
  height: 70%;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, 23%);
  grid-gap: 10px;
  justify-items: center;
  padding: 10px;
}

@media (max-width: 945px){
  #main-thumbnails {
    height: 40%;
  }
}

@media (max-width: 550px) {
  #main-thumbnails {
    height: 45%;
  }
}

@media (max-width: 440px) {
  #main-thumbnails {
    height: 35%;
  }
}

.thumbnail {
  background-color: #05386B;
  color: white;
  border: 2px solid white;
  height: 175px;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

@media (max-width: 945px){
  .thumbnail {
    height: 150px;
    width: 150px;
  }
}

@media (max-height: 820px){
  .thumbnail {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 700px) {
  .thumbnail {
    height: 125px;
    width: 125px;
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .thumbnail {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 440px) {
  .thumbnail {
    height: 75px;
    width: 75px;
    font-size: 8px;
  }
}

.thumbnail-img {
  height: 100px;
  width: 100px;
}

@media (max-width: 945px){
  .thumbnail-img {
    height: 75px;
    width: 75px;
  }
}

@media (max-height: 820px){
  .thumbnail-img {
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 700px) {
  .thumbnail-img {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 550px) {
  .thumbnail-img {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 440px) {
  .thumbnail-img {
    height: 15px;
    width: 15px;
  }
}
