#main-container {
  background-color: #5CD895;
}

#header-container {
  color: #05386B;
  font-family: url('https://fonts.googleapis.com/css?family=Righteous');
}

.thumbnail-img {
  height: 50px;
  width: 50px;
}
