$background: #171a2b;

#product-subcontainer {
  font-family: 'Share Tech Mono', monospace;
}

#product-how-it-works {
  position: absolute;
  top: 0px;
}

#product-header {
  width: 100%;
  height: 75px;
  margin-top: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: black;
  border: solid gray;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#product-header-img {
  width: 7em;
  height: 4em;
  padding-top: 7px;
}

#product-nav-bar {
  align-self: center;
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-right: 20px;
}

.product-nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

#product-content {
  background-color: $background;
  width: 100%;
  position: absolute;
  top: 75px;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 50px;
}

.product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-section-1 {
  font-size: 25px;
}

#product-sign-up-free {
  padding-top: 200px;
}

.product-about-labels {
  display: flex;
  align-items: center;
}

.product-about-labels img {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.product-about-descriptions {
  width: 60%;
  text-align: justify;
}

#product-actual-video {
  max-width: 80%;
  display: block;
  height: auto;
}

@media (min-width: 1045px) {
  #product-actual-video {
    min-height: 494px;
  }
}

@media (max-width: 1045px) {
  .product-nav-link {
    font-size: 1em;
  }

  .product-about-descriptions {
    font-size: 20px;
  }

  #product-actual-video {
    min-height: 494px;
  }
}

@media (max-width: 720px) {
  .product-nav-link {
    font-size: .8em;
    padding-right: 10px;
  }

  .product-about-descriptions {
    font-size: 15px;
  }

  #product-actual-video {
    min-height: 0px;
  }
}
