input, textarea, select {
  border-radius: 5px;
  transition: 0.3s;
}

textarea:focus, select:focus, input:focus {
  border: 3px solid hsl(240deg, 100%, 49%);
}

#registration-container {
  background: hsl(120deg, 100%, 80%);
}

#registration-subcontainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

#registration-title {
  font-weight: bold;
  color: hsl(240deg, 100%, 49%);
  text-align: center;
}

.registration-description {
  font-size: 20px
}

#registration-main, #registration-header {
  width: 80%;
  margin: auto;
}

#registration-main {
  border: solid;
  padding: 10px;
}

#registration-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-survey-form {
  display: flex;
  flex-direction: column;
}

.registration-fieldset {
  width: 20%;
}

#registration-dropdown {
  width: 175px;
}

.registration-fieldset {
  padding: 0px;
  border: none;
}

.registration-question-labels {
  font-weight: bold;
}

#registration-comments {
  max-width: 50em;
  height: 5em;
}

#registration-submit {
  height: 3em;
  width: 7em;
  background-color: hsl(240deg, 100%, 49%);
  color: white;
}

#registration-submit:hover {
  cursor: pointer;
  background-color: #F5BB00;
}

#registration-submit:focus {
  border: none;
}

@media (max-width: 860px){
  .registration-fieldset {
    width: 100%;
  }

  #registration-fields {
    width: 100%;
  }
}
